.file {
  visibility: hidden;
}

html {
	height:100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('../resources/technology.jpg');
  background-color: rgba(0,0,0,0);
  padding-top: 10px;
  padding-bottom: 10px;
  height:100%;
}

.main-contents {
  margin-top:10px;
  padding: 20px 0px 20px 0px;
  background: rgba(255,255,255,0.7);
  flex-grow: 1;
}

.navbar {
  background: transparent;
  border: 0;
  margin-bottom: 0;
}

.valid {
	color: #338AFF;
}

.invalid {
	color: #900C3F
}

.upload-error{
	color: #9333FF;
}

.text-white{
	color:#a0a0a0;
}